<mat-card class="movie-card">
    <mat-card-content>
        <div class="movie-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7ntrYOCccMrbIXNZyABFj2ahO1USKcaDpdg&usqp=CAU" height="200px" width="100%" />
        </div>
        <h3 class="movie-title">{{gasolineraInput.rotulo}}</h3>
        <br>
        <p class="movie-overview">{{gasolineraInput.provincia}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button aria-label="Example icon button with a heart icon" (click)= "openGasolineraDialog()">
            <mat-icon>favorite_border</mat-icon>
        </button> 


    </mat-card-actions>
</mat-card>
