<mat-card class="gasolinera-card">
    <mat-card-content>
        <div class="gasolinera-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7ntrYOCccMrbIXNZyABFj2ahO1USKcaDpdg&usqp=CAU" height="200px" width="100%" />
        </div>
        <h3 class="gasolinera-title">{{gasolineraInput.rotulo}}</h3>
        <br>
        <p class="gasolinera-overview">{{gasolineraInput.provincia}}</p>
        <p>Gasóleo A: {{gasolineraInput.precioGasoleoA}} €</p>
        <p>Gasóleo 95E5: {{gasolineraInput.precioGasolina95E5}} €</p>
        <p>Gasóleo 95E5: {{gasolineraInput.precioGasolina98E5}} €</p>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="warn" (click)="openGasolineraDialog()">Ver Más</button>


    </mat-card-actions>
</mat-card>
